packages/

.config/jgit/
.config/ghc/
.config/gcloud/
.config/configstore/
.config/yarn/
.config/pip/

.config/pi/agent/auth.json
.config/pi/agent/mcp*
.config/pi/agent/sessions/
.config/pi/agent/bin/
.config/pi/agent/npm/

.zshrc-e
